<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <%- include('head'); %>
</head>
<body>
<div id="wrap">
    <%- include('menu'); %>
    <div id ='container'><!-- body 시작-->
        <div style="
            max-width: 960px;
            margin: 0 auto;
            /* padding: 10%; */
            /* padding-top: 75px; */
            top: 100px;
            position: relative;
        ">
            <h3 style="text-align: center;
            font-weight: bold;"><%= title %></h3>

            <form action="/admin/update" method="post" onsubmit="submitContents(this);">
                <input type="hidden" name="id" value="<%= row._id %>">
                <table class="table table-bordered">
                    <tr>

                        <td scope="col" style="text-align: center;
                        font-weight: normal;
                        font-family: 'Nanum Barun Gothic';
                        background: #fbfbfb;
                        color: #222;border-right: dashed 1px #e5e5e5;"> <span class="vital" style="color: #ed1a3a; display: inline-block;">*</span> 작성자</td>
                        <td><%=row.name%><input type="hidden" name="name" id="name" value="<%=row.name%>" readonly required/></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;
                        font-weight: normal;
                        font-family: 'Nanum Barun Gothic';
                        background: #fbfbfb;
                        color: #222;border-right: dashed 1px #e5e5e5;"> <span class="vital" style="color: #ed1a3a; display: inline-block;">*</span> 제목</td>
                        <td><input type="text" name="title" id="title" required value="<%= row.title %>"/></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;
                        font-weight: normal;
                        font-family: 'Nanum Barun Gothic';
                        background: #fbfbfb;
                        color: #222;border-right: dashed 1px #e5e5e5;"> <span class="vital" style="color: #ed1a3a; display: inline-block;">*</span>내용</td>
                        <td><textarea name="content" id="content" cols="30" rows="10" style="width:766px; height:412px; display:none;"><%= row.content %></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="
                            display: flex;
                            flex: 1;
                            justify-content: center;
                            ">
                                <button type="submit" class="btn btn-primary" style="    margin-right: 10px;"> <b> 글 승인 </b>  </button>
                                <button type="button" class="btn btn-danger" onclick="location.href='/admin/delete/<%=row._id%>'" style="    margin-right: 10px;"> <b> 글 삭제 </b>  </button>
                                <button type="button" class="btn btn-warning" onclick="location.href='/admin/page/1'"><a style="font-weight: bold;color:#f8f9fa;text-decoration: none;"href="/admin/page/1">목록</a></button>

                            </div>
                        </td>
                    </tr>
                </table>

            </form>
            <script type="text/javascript">
                var oEditors = [];

                // 추가 글꼴 목록
                //var aAdditionalFontSet = [["MS UI Gothic", "MS UI Gothic"], ["Comic Sans MS", "Comic Sans MS"],["TEST","TEST"]];

                nhn.husky.EZCreator.createInIFrame({
                    oAppRef: oEditors,
                    elPlaceHolder: "content",
                    sSkinURI: "/editor/SmartEditor2Skin.html",
                    htParams : {
                        bUseToolbar : true,				// 툴바 사용 여부 (true:사용/ false:사용하지 않음)
                        bUseVerticalResizer : true,		// 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음)
                        bUseModeChanger : true,			// 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
                        //bSkipXssFilter : true,		// client-side xss filter 무시 여부 (true:사용하지 않음 / 그외:사용)
                        //aAdditionalFontList : aAdditionalFontSet,		// 추가 글꼴 목록
                        fOnBeforeUnload : function(){
                            //alert("완료!");
                        }
                    }, //boolean
                    fOnAppLoad : function(){
                        //예제 코드
                        //oEditors.getById["content"].exec("PASTE_HTML", ["로딩이 완료된 후에 본문에 삽입되는 text입니다."]);
                    },
                    fCreator: "createSEditor2"
                });

                function submitContents(elClickedObj) {
                    oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD", []);	// 에디터의 내용이 textarea에 적용됩니다.

                    // 에디터의 내용에 대한 값 검증은 이곳에서 document.getElementById("content").value를 이용해서 처리하면 됩니다.

                    try {
                        elClickedObj.form.submit();
                    } catch(e) {}
                }

            </script>

        </div>
    </div><!-- body 종료-->

</div>
<%- include('footer'); %>
</body>
</html>