<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <%- include('head'); %>

<script>
    // JWCHEON: 게시물 보기를 클릭했을 경우 새창 열기로 해당 게시글 이동하는 function
    function clickedView(contentsID) {
        // alert('게시물 보기는 새창이 열립니다.');
        window.open('/mongo/read/'+contentsID, '_blank');
    }

    // JWCHEON: 게시물 삭제를 눌렀을 경우 실행
    function boardDelete(contentsID) {
        // alert(contentsID);
        $.ajax({    // JWCHEON: ajax를 통하여 해당 router로 데이터 전송
            url: '/manage/report/board',
            async: true,
            type: 'DELETE', // JWCHEON: 게시글 삭제기 때문에 DELETE로 전송
            data: {
                contentsID: contentsID  // JWCHEON: 삭제할 게시글의 ID 전송
            },
            dataType: 'json',
            success: function (data) {
                alert('게시물 삭제 완료');
                location.href = '/manage/report';
            },
            error: function (err) {
                alert('게시물 삭제 실패: ' + err);
            }
        })
    }

    // JWCHEON: 회원 제명 버튼을 눌렀을 경우 실행
    function memberDelete(writerIdx) {
        // alert(writerIdx);
        $.ajax({
            url: '/manage/report/member',
            async: true,
            type: 'DELETE', // JWCHEON: 게시글 삭제기 때문에 DELETE로 전송
            data: {
                writerIdx: writerIdx    // JWCHEON: 제명할 회원의 ID 데이터
            },
            dataType: 'json',
            success: function (data) {
                alert('회원 제명 완료');
                location.href = '/manage/report';
            },
            error: function (err) {
                alert('회원 제명 실패: ' + err);
            }
        })
    }

    // JWCHEON: 게시물 확인을 눌렀을 경우
    function boardCheck(contentsID) {
        // alert(contentsID);
        $.ajax({
            url: '/manage/report/board',
            async: true,
            type: 'POST',
            data: {
                contentsID: contentsID  // JWCHEON: 신고 목록에서 지울 ID 데이터
            },
            dataType: 'json',
            success: function (data) {
                alert('게시물 확인 완료');
                location.href = '/manage/report';
            },
            error: function (err) {
                alert('게시물 확인 실패: ' + err);
            }
        })
    }

</script>
</head>
<body>

<!-- JWCHEON: 신고 목록 화면 구성 -->
<div class="wrap">
    <%- include('menu'); %>
    <div id='container' align="center">
        <a class="btn btn-outline-secondary" href="/manage/member">회원 관리</a>
        <a class="btn btn-outline-secondary active" aria-pressed="true">신고 관리</a>
        <br>
        <br>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th scope="col" style="text-align: center;padding: 1%;">번호</th>
                    <th scope="col" style="text-align: center;padding: 1%;">카테고리</th>
                    <th scope="col" style="text-align: center;padding: 1%;">신고 내용</th>
                    <th scope="col" style="text-align: center;padding: 1%;">신고자</th>
                    <th scope="col" style="text-align: center;padding: 1%;">레시피 제목</th>
                    <th scope="col" style="text-align: center;padding: 1%;">작성자</th>
                    <th scope="col" style="text-align: center;padding: 1%;">작성 날짜</th>
                    <th scope="col" style="text-align: center;padding: 1%;">관리</th>
                </tr>
                </thead>

                <tbody>
                <%
                // JWCHEON: router로 부터 받은 rows 데이터, 신고 목록을 구성함
                for(var i=0; i<rows.length; i++) {
                %>
                    <tr>
                        <%
                            var reportTitle = rows[i].reportTitle;
                            var reportContents = rows[i].reportContents;
                            var reportWriter = rows[i].reportWriter;
                            var contentsID = rows[i].contentsID;
                            var contentsTitle = rows[i].contentsTitle;
                            var writerName = rows[i].writerName;
                            var writerIdx = rows[i].writerIdx;
                            var writeDate = rows[i].writeDate;
                            if (rows[i].writeDate == "NaN-0NaN-0NaN 0NaN:0NaN:0NaN"){
                                writeDate = ""
                            }
                        %>
                        <td scope="row" align="center"><%=i+1%></td>
                        <td><%=reportTitle%></td>
                        <td><%=reportContents%></td>
                        <td align="center"><%=reportWriter%></td>
                        <td align="center"><%=contentsTitle%></td>
                        <td align="center"><%=writerName%></td>
                        <td align="center"><%=writeDate%></td>
                        <td align="center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                </button>
                                <!-- JWCHEON: 드롭 다운 버튼 구성 -->
                                <ul class="dropdown-menu" role="menu">
                                    <!-- JWCHEON: 각 버튼마다 onclick function으로 구성하여 인자값을 설정함 -->
                                    <li><a href="#" onclick="clickedView('<%=rows[i].contentsID%>');">게시물 보기</a></li>
                                    <li><a href="#" onclick="boardDelete('<%=rows[i].contentsID%>');">게시물 삭제</a></li>
                                    <li><a href="#" onclick="memberDelete('<%=rows[i].writerIdx%>');">작성자 제명</a></li>
                                    <li><a href="#" onclick="boardCheck('<%=rows[i].contentsID%>');">확인 완료</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                <%
                }
                %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('footer'); %>
</body>
</html>