<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <%- include('head'); %>

    <script>
        $(document).ready(function() {
            // JWCHEON: 모달을 실행했을 경우 데이터 구성하여 modal 활성화
            $('#exampleModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('whatever') // Extract info from data-* attributes

                // JWCHEON: 전달 받은 데이터를 '&' 단위로 짤라서 각 텍스트 세팅
                var strArray = recipient.split('&');
                var modal = $(this);
                // id&name&email&phone
                modal.find('.modal-body #idID').text(strArray[0]);
                modal.find('.modal-body #idNAME').text(strArray[1]);
                modal.find('.modal-body #idEMAIL').text(strArray[2]);
                modal.find('.modal-body #idPHONE').text(strArray[3]);
                modal.find('.modal-body #idDATE').text(strArray[4]);
                modal.find('.modal-body #selectGrade').text(strArray[5]);
            })
        });

        // JWCHEON: 드롭다운 버튼에서 관리자 또는 회원을 선택했을 경우 text 값 변환
        function clickedAdmin() {
            $('#selectGrade').text("관리자");
        }
        function clickedMember() {
            $('#selectGrade').text("회원");
        }

        // JWCHEON: 정보 수정을 눌렀을 경우
        function clickedUpdate() {
            // JWCHEON: ajax를 통하여 router로 데이터 전송함
            $.ajax({
                url: '/manage/member/edit',
                async: true,    // JWCHEON: 응답을 기다림
                type: 'PUT',    // JWCHEON: 정보 수정이기에 PUT으로 전송
                data: {         // JWCHEON: router로 보낼 데이터 구성
                    id: $("#idID").text(),
                    grade: $("#selectGrade").text()
                },
                dataType: 'json',
                // JWCHEON: 응답이 success일 경우 아래와 같이 alert 및 화면 이동
                success: function (data) {
                    alert("정보 수정되었습니다.");
                    location.href = '/manage/member'
                },
                error: function (err) {
                    alert("수정 실패하였습니다.");
                    location.href = '/manage/member'
                }
            });
        }

        // JWCHEON: 회원 탈퇴를 눌렀을 경우
        function clickedDelete() {
            $.ajax({
                url: '/manage/member/edit',
                async: true,
                type: 'DELETE', // JWCHEON: 회원 삭제기 때문에 DELETE로 전송
                data: {
                    id: $("#idID").text(),
                },
                dataType: 'json',
                success: function (data) {
                    alert("회원 탈퇴 되었습니다.");
                    location.href = '/manage/member'
                },
                error: function (err) {
                    alert("탈퇴 실패하였습니다.");
                    location.href = '/manage/member'
                }
            });
        }
    </script>
</head>
<body>

<div class="wrap">
    <%- include('menu'); %>
    <div id='container' align="center">
        <a class="btn btn-outline-secondary active" aria-pressed="true">회원 관리</a>
        <a class="btn btn-outline-secondary" href="/manage/report">신고 관리</a>
        <br>
        <br>

        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th scope="col" style="text-align: center;padding: 1%;">번호</th>
                    <th scope="col" style="text-align: center;padding: 1%;">ID</th>
                    <th scope="col" style="text-align: center;padding: 1%;">이름</th>
                    <th scope="col" style="text-align: center;padding: 1%;">가입일</th>
                    <th scope="col" style="text-align: center;padding: 1%;">등급</th>
                    <th scope="col" style="text-align: center;padding: 1%;">설정</th>
                </tr>
                </thead>
                <tbody>
                <%
                // JWCHEON: router에서 받은 데이터 memberList를 통해 회원 목록을 뿌려줌
                for(var i=0; i<memberList.length; i++) {
                %>
                    <tr>
                        <%
                            var id = memberList[i].ID;
                            var name = memberList[i].NAME;
                            var email = memberList[i].EMAIL;
                            var phone = memberList[i].PHONENUMBER;
                            var date = memberList[i].REGDATE;
                            var grade = "";

                            if (memberList[i].REGDATE == "NaN-0NaN-0NaN 0NaN:0NaN:0NaN"){
                                date =""
                            }

                            // JWCHEON: 관리자(0), 회원(1)
                            if (memberList[i].GRADE == 0) {
                                grade = "관리자";
                            } else {
                                grade = "회원";
                            }
                        %>

                        <td scope="row" align="center"><%=i+1%></td>
                        <td><%=id%></td>
                        <td><%=name%></td>
                        <td align="center"><%=date%></td>
                        <td align="center"><%=grade%></td>
                        <td align="center">
                            <!-- JWCHEON: Modal 생성 버튼 및 눌렀을 경우 Modal에 세팅할 데이터 세팅 -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="<%=id%>&<%=name%>&<%=email%>&<%=phone%>&<%=date%>&<%=grade%>">
                                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                <%
                }
                %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- JWCHEON: Modal 구성 -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">회원 정보</h4>
            </div>
            <form role="form" name="submitForm">
            <div class="modal-body">
                    <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <tbody>
                        <tr>
                            <td>ID</td>
                            <td id="idID" name="idID">idTD</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td id="idNAME">idNAME</td>
                        </tr>
                        <tr>
                            <td>JoinDate</td>
                            <td id="idDATE">idDATE</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td id="idEMAIL">idEMAIL</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td id="idPHONE">idPHONE</td>
                        </tr>
                        <tr>
                            <td>Grade</td>
                            <td>
                                <!-- Split button -->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-secondary" id="selectGrade">회원</button>
                                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <!-- JWCHEON: 각 버튼을 눌렀을 경우 onclick으로 function 호출 -->
                                        <li><a href="#" onclick="clickedAdmin()">관리자</a></li>
                                        <li><a href="#" onclick="clickedMember()">회원</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <!-- JWCHEON: 각 버튼을 눌렀을 경우 onclick으로 function 호출 -->
                <a href="#" role="button" class="btn btn-primary" onclick="clickedUpdate()">정보 수정</a>
                <a href="#" role="button" class="btn btn-danger" onclick="clickedDelete()">회원 탈퇴</a>
                <a href="#" role="button" class="btn btn-outline-secondary" data-dismiss="modal">닫기</a>
            </div>
            </form>
        </div>
    </div>
</div>
<%- include('footer'); %>
</body>
</html>