<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <%- include('head'); %>
</head>
<body id="page-top">
    <div class="wrap">
    <%- include('menu'); %>

    <div id ='container'><!-- body 시작-->
        <div style="position: relative;
        margin: 0 auto;
        width: 80%;
        top: 50%;">
         <div style="display: flex;margin-bottom: 10px;justify-content: space-between;">
            <p style="font-size: 15px;font-weight: bold;">
                 <%= title %>
            </p>
            <button type="button" class="btn btn-primary" style="z-index: 9999;">
                <a style=" 
                text-decoration: none;
                color: #fff;"
                href="/mongo/write">
                글쓰기
                </a>
            </button>
         </div>
         <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" style="text-align:center;padding: 1%;">작성자</th>
                    <th scope="col" style="text-align: center;padding: 1%;">제목</th> 
                    <th scope="col" style="text-align: center;padding: 1%;">조회수</th>
                    <th scope="col" style="text-align: center;padding: 1%;">수정일</th>
                    <th scope="col" style="text-align: center;padding: 1%;">등록일</th>
                </tr>
            </thead>
            <tbody style="text-align:center;">
                <%
                for(var i=(page*page_num)-page_num; i<(page*page_num) ; i++){
                if(i>length){
                    i++;
                }else{
                    var data = rows[i];
                    console.log(data);
                %>
                <tr>
                    <td scope="row"><%= data.name %></td>
                    <td><a href="/mongo/read/<%= data._id %>"><%= data.title %></a></td>
                    <td><%= data.hit %></td>
                    <td><%= data.stmodidate %></td>
                    <td><%= data.stregdate %></td>
                </tr>
                <%
                }
                }
                %>
                <tr>
                    <td colspan="6">
                        <%
                        for(var j=0 ; j<rows.length / page_num ; j++){
                        %>
                            [<a href="/mongo/page/<%= j+1 %>"><%= j+1 %></a>]
                        <%
                        }
                        %>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div><!-- body 종료-->
    </div>
    <%- include('footer'); %>
</div>

</body>
</html>