<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <%- include('head'); %>
    <link href="/css/tagit.css" rel="stylesheet">
    <script src="/js/jquery.tagit.js"></script>
    <style>
        .txt_head{display:flex;}
        .txt_content{display: flex; padding:10px 0; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center;}
        .txt_content > div{}
        .txt_content img{width: 100%;}
        .txt_content:nth-child(2n+1){background:#eee;}
        .txt_content:nth-child(2n){background:#fff;}
        .contsGroup *{vertical-align: middle;}
        .recpDtlConts, .recpImgFile{display: inline-block;}
        .recpImgFile > img{height:64px;}
        .btns{text-align: center; margin-top: 20px;}
        #upForm{display:none;}
        #languages{width:100%;}
        .reply-wrapper{margin-top: 30px; }
        .reply-cnt{color: #376492!important; font-weight: 900;}
        .reply-wrapper p span{ font-size: 2em;}
        .reply-input-wrapper{clear: both;height: 60px;}
        .reply-input-conts{width: 89%; height: inherit; resize: none;}
        .reply-btn{width: 10%; float: right; height: inherit; word-break:keep-all; background:#376492!important; border-color: #376492!important;}

        .reply-name{margin-right: 20px;}
        .reply-date{}
        .reply-group{border-bottom: 1px solid #b4b9bd; padding: 10px;}
        .reply-conts{margin-top: 10px;}
    </style>
</head>
<body>
<div class="wrap">
    <%- include('menu'); %>
    <div id ='container'><!-- body 시작-->
        <div style="
            max-width: 960px;
            margin: 0 auto;
            /* padding: 10%; */
            /* padding-top: 75px; */
            top: 100px;
            position: relative;
        ">
            <h3 style="text-align: center;
            font-weight: bold;"><%= title %></h3>
            <div class="read_area">
                <div class="panel panel-default ">
                    <div class="panel-heading">
                        <h3 class="panel-title" >작성자</h3>
                    </div>
                    <div class="panel-body">
                        <%=row.name%>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" >제목</h3>
                    </div>
                    <div class="panel-body">
                        <%= row.title %>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" >요리설명</h3>
                    </div>
                    <div class="panel-body">
                        <%= row.mainDscrpt %>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" >재료</h3>
                    </div>
                    <div class="panel-body">
                        <% if(row.tag != null){
                            for(var i=0 ; i<row.tag.split(',').length ; i++){%>
                        <button class="btn btn-outline-primary" style="cursor: default;"><%=row.tag.split(',')[i]%></button>
                        <%
                            }
                        }else{
                        %>
                            <span>등록된 재료가 없습니다.</span>
                        <%
                        }
                        %>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" >조리과정</h3>
                    </div>
                    <div class="panel-body">
                        <div class="txt_head">
                            <h6 class="col-1 text-center">번호</h6>
                            <h6 class="col-6 text-center">사진</h6>
                            <h6 class="col-5 text-center">설명</h6>
                        </div>
                        <% for(var i=0; i<imgRows.length ; i++){%>
                            <div class="txt_content">
                                <div class="col-1"><span><%= imgRows[i].num+1 %></span></div>
                                <div class="col-6"><img class="img-responsive" src="/<%= imgRows[i].path %>"/></div>
                                <div class="col-5"><span><%= imgRows[i].text %></span></div>
                            </div>
                        <%}%>
                    </div>
                </div>
                <div class="text-center">
                    <% if(row.name == session.name || session.grade == 1 ){ %>
                        <a class="btn btn-primary text-white" href="#" onclick="update();">수정</a>
                        <a class="btn btn-danger text-white" href="/mongo/delete/<%=row._id%>">글 삭제</a>
                    <% } else { %>
<!--                        <a class="btn btn-danger text-white" href="#" id="report_Button" data-toggle="modal" data-target="#reportModal">신고</a>-->
                        <button type="button" class="btn btn-danger text-white" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">신고</button>
                    <% } %>
                    <button type="button" class="btn btn-warning" onclick="location.href='/mongo/page/1'"><a style="font-weight: bold;color:#f8f9fa;text-decoration: none;"href="/mongo/page/1">목록</a></button>
                    <% if(row1 != null && row1.userId != session.name){ %>
                        <a  class="btn btn-danger" style="font-weight: bold;color:#f8f9fa;text-decoration: none;" href="javascript:upForm.submit();">추천</a>
                    <%  } %>

                </div>
                <div class="reply-wrapper">
                    <p><span>댓글 </span><span class="reply-cnt">10</span></p>
                    <form name='replyForm' id='replyForm' action="/mongo/replywrite" method="POST">
                        <input type='hidden' name='contentId' value='<%= row._id %> '/>
                        <div class="reply-input-wrapper">
                            <textarea class="reply-input-conts" rows="2" name="recpDtlConts" placeholder="무엇이 궁금하신가요? 댓글로 남겨주세요."></textarea>
                            <a class="reply-btn btn btn-primary text-white" href="javascript:replyForm.submit();">등록</a>
                        </div>
                    </form>
                    <div>
                    <% if(reply!=null){%>
                            <% for(var i=0; i<reply.length ; i++){%>
                            <div class="reply-group">
                                <span class="reply-name"><%= reply[i].userId %></span><span class="reply-date"><%= reply[i].regdate%></span>
                                <div class="reply-conts"><%= reply[i].content %></div>
                            </div>

                        <%  }  %>

                        <%  }  %>
                    </div>
                </div>
            </div>
            <form action="/mongo/update" method="post" name="upForm" id="upForm" enctype="multipart/form-data">
                <input type="hidden" name="originSize" value="<%= imgRows.length %>">
                <input type="hidden" id="deleteIndex" name="deleteIndex" value=""/>
                <input type="hidden" name="id" value="<%= row._id %>">
                <input type="hidden" name="name" value="<%=row.name%>">

                <table class="table table-bordered">
                    <tr>
                        <td scope="col" class="bg-light text-center"> <span class="vital" style="color: #ed1a3a; display: inline-block;">*</span> 작성자</td>
                        <td><%=row.name%><input type="hidden" name="name" id="name" value="<%=row.name%>" readonly required/></td>
                    </tr>
                    <tr>
                        <td class="bg-light text-center"> <span class="vital" style="color: #ed1a3a; display: inline-block;">*</span> 제목</td>
                        <td><input type="text" class="form-control" name="title" id="title" value="<%= row.title %>" required/></td>
                    </tr>
                    <tr>
                        <td class="bg-light text-center"> <span class="vital" style="color: #ed1a3a; display: inline-block;">*</span> 요리설명</td>
                        <td><textarea class="form-control" name="mainDscrpt" id="mainDscrpt" required><%= row.mainDscrpt %></textarea></td>
                    </tr>
                    <tr>
                        <td class="bg-light text-center"><span class="vital" style="color: #ed1a3a; display: inline-block;">*</span> 재료</td>
                        <td>
                            <ul id="languages" class="fake-input" tabindex="1">
                                <% if(row.tag != null){
                                for(var i=0 ; i<row.tag.split(',').length ; i++){%>
                                <li><%=row.tag.split(',')[i]%></li>
                                <%
                                    }
                                }
                                %>
                            </ul>
                            <script type="text/javascript">
                                $("#languages").tagit();
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-light text-center"> <span class="vital" style="color: #ed1a3a; display: inline-block;">*</span>내용</td>
                        <td>
                            <div id="contsArea">
                                <% for(var i=0; i<imgRows.length ; i++){%>
                                <div class="contsGroup" data-index="<%=i+1%>">
                                    <span class="txtIdx text-center col-1"><%=i+1%></span>
                                    <span class="recpImgFile col-5 text-center"><img class="img-responsive" src="/<%= imgRows[i].path %>"/></span>
                                    <textarea class="recpDtlConts col-5 form-control" rows="2" name="recpDtlConts"><%= imgRows[i].text %></textarea>
                                    <input type="button" class="btnRemove btn btn-danger col-1" value="제거"/>
                                </div>
                                <%}%>
                            </div>
                            <div class="btns">
                                <input type="button" class="btnAdd btn btn-success" value="Step 추가"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary"><b>수정하기</b></button>
                                <a href="/mongo/page"><button type="button" class="btn btn-warning text-white">목록</button></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>

        </div>
    </div><!-- body 종료-->
    <script type="text/javascript">
        var oEditors = [];
        
        var $htmlStrObj = $('<div class="contsGroup" data-index="1">\n' +
            '                                    <span class="txtIdx text-center col-1">1</span>\n' +
            '                                    <input type="file" class="recpImgFile col-5" name="recpImgFile"/>\n' +
            '                                    <textarea class="recpDtlConts col-5 form-control" rows="2"name="recpDtlConts"></textarea>\n' +
            '                                    <input type="button" class="btnRemove btn btn-danger col-1" value="제거"/>\n' +
            '                                </div>');

        // 추가하기
        $('.btnAdd').click(function(){
            var $lastContsGroup = $('.contsGroup').last();
            var currIdx = Number($lastContsGroup.find('.txtIdx').text()) + 1;

            $htmlStrObj.attr("data-index",currIdx);
            $htmlStrObj.find('.txtIdx').text(currIdx);
            // $htmlStrObj.find('.recpImgFile').text($htmlStrObj.find('.recpImgFile').attr('id', 'recpImgFile'));
            // $htmlStrObj.find('.recpDtlConts').text($htmlStrObj.find('.recpDtlConts').attr('name', 'recpDtlConts'));
            // $htmlStrObj.find('.recpDtlConts').text($htmlStrObj.find('.recpDtlConts').attr('id', 'recpDtlConts'));

            var clone = $htmlStrObj.clone();
            $('.contsGroup').last().after(clone);

            // 삭제하기
            clone.find('.btnRemove').on('click',function(){

                $(this).parent().remove();

                // $('.contsGroup').last().remove();
            });
        });

        // 삭제하기
        $('.btnRemove').click(function(){
            var update_index =  "<%= imgRows.length %>";
            if(update_index+1 >= $(this).parent().attr("data-index")){
                if($("#deleteIndex").val() == ""){
                    $("#deleteIndex").val($(this).parent().attr("data-index"));
                }else{
                    $("#deleteIndex").val($("#deleteIndex").val() + ',' + $(this).parent().attr("data-index"));
                }
            }
            $(this).parent().remove();

            // $('.contsGroup').last().remove();
        });

        function update(){
            $(".read_area").hide();
            $("#upForm").show();
        }

        $(function () {
            $('#report_Button').click( function () {
                // alert($("#categoryLabel").text());
                // alert($("#message-text").val());
                $.ajax({
                    url: '/report',
                    async: true,
                    type: 'POST',
                    data: {
                        reportTitle: $("#categoryLabel").text(),
                        reportContents: $("#message-text").val(),
                        reportWriter: "<%=session.name%>",
                        contentsId: "<%=row._id%>",
                        title: "<%=row.title%>",
                        writerName: "<%=row.name%>",
                        writerIdx: "<%=row.idx%>",
                        writeDate: "<%=row.regdate%>"
                    },
                    dataType: 'json',
                    success: function (data) {
                        alert('신고 완료');
                    },
                    error: function (err) {
                        alert('신고 실패: ' + err);
                    }
                })
            })
        })

        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })

        var categoryArray = ['영리목적/홍보성', '불법정보', '음란성/선정성', '욕설/인신공격', '개인정보노출', '같은 내용의 반복 게시 (도배)', '기타']
        function clickedCategory(num) {
            $('#categoryLabel').text(categoryArray[num]);
        }
    </script>
</div>

<!-- 신고 모달 -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">New message</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">신고 제목: </label>
                        <div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret" id="categoryLabel">영리목적/홍보성</span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" onclick="clickedCategory(0)">영리목적/홍보성</a></li>
                                    <li><a href="#" onclick="clickedCategory(1)">불법정보</a></li>
                                    <li><a href="#" onclick="clickedCategory(2)">음란성/선정성</a></li>
                                    <li><a href="#" onclick="clickedCategory(3)">욕설/인신공격</a></li>
                                    <li><a href="#" onclick="clickedCategory(4)">개인정보노출</a></li>
                                    <li><a href="#" onclick="clickedCategory(5)">같은 내용의 반복 게시 (도배)</a></li>
                                    <li><a href="#" onclick="clickedCategory(6)">기타</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">신고 내용: </label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="report_Button" data-dismiss="modal">신고하기</button>
            </div>
        </div>
    </div>
</div>

<%- include('footer'); %>
</body>
</html>