<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <style>
        .img-responsive{width:200px;}
    </style>
    <%- include('head'); %>
</head>
<body id="page-top">
    <div class="wrap">
    <%- include('menu'); %>

    <div id ='container'><!-- body 시작-->
        <div style="position: relative;
        margin: 0 auto;
        width: 80%;
        top: 50%;">
         <div style="display: flex;margin-bottom: 10px;justify-content: space-between;">
             <h3 class="text-center"><%= title %></h3>
            <button type="button" class="btn btn-primary" style="z-index: 9999;">
                <a style="
                text-decoration: none;
                color: #fff;"
                href="/mongo/write">
                글쓰기
                </a>
            </button>
         </div>
         <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" style="text-align: center;padding: 1%;">작성자</th>
                    <th scope="col" style="text-align: center;padding: 1%;">대표이미지</th>
                    <th scope="col" style="text-align: center;padding: 1%;">제목</th>
                    <th scope="col" style="text-align: center;padding: 1%;">조회수</th>
                    <th scope="col" style="text-align: center;padding: 1%;">수정일</th>
                    <th scope="col" style="text-align: center;padding: 1%;">등록일</th>
                </tr>
            </thead>
            <tbody style="text-align:center;">
                <%
                for(var i=(page*page_num)-page_num; i<(page*page_num) ; i++){
                if(i>length){
                    i++;
                }else{
                    var data = rows[i];
                %>
                <tr>
                    <td class="align-middle" scope="row"><%= data.name %></td>
                    <td><img class="img-responsive align-middle" src="/<%= data.mainImg %>"/></td>
                    <td class="align-middle"><a href="/mongo/read/<%= data._id %>"><%= data.title %></a></td>
                    <td class="align-middle"><%= data.hit %></td>
                    <td class="align-middle"><%= data.stmodidate %></td>
                    <td class="align-middle"><%= data.stregdate %></td>
                </tr>
                <%
                }
                }

                var maxpage = parseInt(rows.length/10) + 1;
                var maxPageNum = 10
                var curPageNum = ((page-1)/maxPageNum)-(((page-1)/maxPageNum)%1);
                %>
                <tr>
                    <td colspan="6">
                        <nav>
                            <ul class="pagination">
                                <%
                                if(page > 1){
                                %>
                                    <li>
                                        <a href="/mongo/page/1" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <%
                                    if(1 < ((curPageNum-1)*maxPageNum+maxPageNum)){
                                    %>
                                    <li>
                                        <a href="/mongo/page/<%=(curPageNum-1)*maxPageNum+maxPageNum%>" aria-label="Previous">
                                            <span aria-hidden="true">‹</span>
                                        </a>
                                    </li>
                                <%
                                }
                                }
                                %>

                                <%
                                for(var i=curPageNum*maxPageNum+1 ; i <= curPageNum*maxPageNum+maxPageNum ; i++){
                                    if(i > maxpage){
                                        break;
                                    }
                                %>
                                <li <% if(i==page) {%>class="active"<%}%>  >
                                    <a href='/mongo/page/<%=i%>'><%=i%></a>
                                </li>
                                <%
                                }
                                %>

                                <%
                                if(page<maxpage){
                                    if(maxpage > ((curPageNum+1)*maxPageNum+1)){
                                %>
                                    <li>
                                        <a href="/mongo/page/<%= (curPageNum+1)*maxPageNum+1 %>" aria-label="Next">
                                            <span aria-hidden="true">›</span>
                                        </a>
                                    </li>
                                <%
                                    }
                                %>
                                <li>
                                    <a href="/mongo/page/<%= maxpage %>" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <%
                                }
                                %>

                            </ul>
                        </nav>

                    </td>
                </tr>
            </tbody>
            </table>
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <select class="form-control" id="search_tp">
                                <option value="tp1">제목</option>
                                <option value="tp2">재료</option>
                            </select>
                        </div>
                        <input type="text" id="search_txt" onkeyup="fn.enterkey();" class="form-control" placeholder="검색어를 입력하세요.">
                        <button class="btn btn-primary" onclick="fn.search();">검색</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- body 종료-->
    </div>
    <%- include('footer'); %>
</div>
<script>
    (function(window, $){
        var search =  function() {
            var tp = $("#search_tp").val();
            var txt = $("#search_txt").val();

            location.href = "/mongo/page/1?tp=" + tp + "&txt=" + txt;
        }

        var getParameterByName = function(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        var enterkey = function() {
            if (window.event.keyCode == 13) {
                search();
            }
        }


        if(getParameterByName('tp') != ""){
            $("#search_tp").val(getParameterByName('tp'));
            $("#search_txt").val(getParameterByName('txt'));
        }

        window.fn = {
            'search' : search,
            'getParameterByName' : getParameterByName,
            'enterkey' : enterkey
        }
    })(window, jQuery)

</script>
</body>
</html>