<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <%- include('head'); %>
</head>
<body>
<div id="wrap">
    <%- include('menu'); %>
    <div id ='container'><!-- body 시작-->
        <div style="
            max-width: 960px;
            margin: 0 auto;
            /* padding: 10%; */
            /* padding-top: 75px; */
            top: 100px;
            position: relative;
        ">
            <h3 style="text-align: center;
            font-weight: bold;"><%= title %></h3>

            <form action="/mongoup/write" method="post" name="upForm">
                <input type="hidden" name="id" value="<%= row._id %>">
                <input type="hidden" name="name" value="<%=row.name%>">
                
                <table class="table table-bordered">
                    <tr>

                        <td scope="col" style="text-align: center;
                        font-weight: normal;
                        font-family: 'Nanum Barun Gothic';
                        background: #fbfbfb;
                        color: #222;border-right: dashed 1px #e5e5e5;"> <span class="vital" style="color: #ed1a3a; display: inline-block;">*</span> 작성자</td>
                        <td><%=row.name%></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;
                        font-weight: normal;
                        font-family: 'Nanum Barun Gothic';
                        background: #fbfbfb;
                        color: #222;border-right: dashed 1px #e5e5e5;"> <span class="vital" style="color: #ed1a3a; display: inline-block;">*</span> 제목</td>
                        <td><%= row.title %></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;
                        font-weight: normal;
                        font-family: 'Nanum Barun Gothic';
                        background: #fbfbfb;
                        color: #222;border-right: dashed 1px #e5e5e5;"> <span class="vital" style="color: #ed1a3a; display: inline-block;">*</span>내용</td>
                        <td><div id="txt_content"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="
                            display: flex;
                            flex: 1;
                            justify-content: center;
                            ">
                                <button type="button" class="btn btn-warning" onclick="location.href='/mongo/page/1'"><a style="font-weight: bold;color:#f8f9fa;text-decoration: none;"href="/mongo/page/1">목록</a></button>
                                <% if(row1.userId != session.name){ %>
                                    <a  class="btn btn-danger" style="font-weight: bold;color:#f8f9fa;text-decoration: none;" href="javascript:upForm.submit();">추천</a>
                                <%  } %>
                            </div>
                        </td>
                    </tr>
                </table>

            </form>

        </div>
    </div><!-- body 종료-->

</div>
<%- include('footer'); %>
</body>
</html>