<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link ref="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="/slick-1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/slick-1.8.1/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/contents.css">
    <!-- 부트스트랩 추가 :홍준 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style type="text/css">

        .slider {
            width: 100%;
        }

        .slick-slide {
            padding-top: 50px;
        }

        .slick-slide img {
            width: 100%;
            height: 300px;
        }

        .slick-prev:before,
        .slick-next:before {
            color: black;
        }


        .slick-slide {
            transition: all ease-in-out .3s;
            opacity: .2;
        }

        .slick-active {
            opacity: .5;
        }

        .slick-current {
            opacity: 1;
        }

    </style>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="/slick-1.8.1/slick/slick.js" type="text/javascript" charset="utf-8"></script>
    <link ref="stylesheet" href="/stylesheets/style.css"/>
    <script type="text/javascript" src="/editor/js/HuskyEZCreator.js" charset="utf-8"></script>
    <script type="text/javascript">
        $(document).on('ready', function() {
            $(".regular").slick({
                dots: true,
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 3
            });

            $('.regular').slick('slickPlay');

        });
    </script>
    <!-- header 종료-->
</head>
<body>
<div id="wrap">
    <div id="header" class="hBlue"><!-- header 시작-->
        <div class="innerH">
            <!-- 상단 - 유틸 -->
            <p style="display: inline-block;
             color:#f8f9fa;
             padding: 1% 0 1% 1.5%;"> 혼달</p>
            <div class="util" style="z-index: 99999;">
                <ul>
                    <li>
                        <img style="display: block;
                             margin: 0px;
                             width: 45px;
                             " src="/image/ico_logout.png" alt="로그아웃">
                        <a style="font-weight: bold;
                             color:#f8f9fa;
                             text-decoration: none;" href="/logout">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id ='container'><!-- body 시작-->
        <div style="
            max-width: 960px;
            margin: 0 auto;
            /* padding: 10%; */
            /* padding-top: 75px; */
            top: 100px;
            position: relative;
        ">
            <h3 style="text-align: center;
            font-weight: bold;"><%= title %></h3>

            <form action="/mongoup/write" method="post" name="upForm">
                <input type="hidden" name="id" value="<%= row._id %>">
                <input type="hidden" name="name" value="<%=row.name%>">
                
                <table class="table table-bordered">
                    <tr>

                        <td scope="col" style="text-align: center;
                        font-weight: normal;
                        font-family: 'Nanum Barun Gothic';
                        background: #fbfbfb;
                        color: #222;border-right: dashed 1px #e5e5e5;"> <span class="vital" style="color: #ed1a3a; display: inline-block;">*</span> 작성자</td>
                        <td><%=row.name%></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;
                        font-weight: normal;
                        font-family: 'Nanum Barun Gothic';
                        background: #fbfbfb;
                        color: #222;border-right: dashed 1px #e5e5e5;"> <span class="vital" style="color: #ed1a3a; display: inline-block;">*</span> 제목</td>
                        <td><%= row.title %></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;
                        font-weight: normal;
                        font-family: 'Nanum Barun Gothic';
                        background: #fbfbfb;
                        color: #222;border-right: dashed 1px #e5e5e5;"> <span class="vital" style="color: #ed1a3a; display: inline-block;">*</span>내용</td>
                        <td><%= row.content %></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="
                            display: flex;
                            flex: 1;
                            justify-content: center;
                            ">
                                <button type="button" class="btn btn-warning" onclick="location.href='/mongo/page/1'"><a style="font-weight: bold;color:#f8f9fa;text-decoration: none;"href="/mongo/page/1">목록</a></button>
                                <a  class="btn btn-danger" style="font-weight: bold;color:#f8f9fa;text-decoration: none;" href="javascript:upForm.submit();">추천</a>


                            </div>
                        </td>
                    </tr>
                </table>

            </form>

        </div>
    </div><!-- body 종료-->

</div>
<!-- Footer -->
<!-- <footer id="footer">
    <p>&copy; Untitled. All rights reserved. Design: <a href="http://templated.co">TEMPLATED</a>. Demo Images: <a href="http://unsplash.com">Unsplash</a>.</p>
</footer> -->
<!-- Footer -->
</body>
</html>