<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <%- include('head'); %>
    <link href="/css/tagit.css" rel="stylesheet">
    <script src="/js/jquery.tagit.js"></script>
    <style>
        .txt_head{display:flex;}
        .txt_content{display: flex; padding:10px 0; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center;}
        .txt_content > div{}
        .txt_content img{width: 100%;}
        .txt_content:nth-child(2n+1){background:#eee;}
        .txt_content:nth-child(2n){background:#fff;}
        .contsGroup *{vertical-align: middle;}
        .recpDtlConts, .recpImgFile{display: inline-block;}
        .recpImgFile > img{height:64px;}
        .btns{text-align: center; margin-top: 20px;}
        #upForm{display:none;}
        #languages{width:100%;}
        .reply-wrapper{margin-top: 30px; }
        .reply-cnt{color: #376492!important; font-weight: 900;}
        .reply-wrapper p span{ font-size: 2em;}
        .reply-input-wrapper{clear: both;height: 60px;}
        .reply-input-conts{width: 89%; height: inherit; resize: none;}
        .reply-btn{width: 10%; float: right; height: inherit; word-break:keep-all; background:#376492!important; border-color: #376492!important;}

        .reply-name{margin-right: 20px;}
        .reply-date{}
        .reply-group{border-bottom: 1px solid #b4b9bd; padding: 10px;}
        .reply-conts{margin-top: 10px;}
    </style>
</head>
<div class="wrap">
    <%- include('menu'); %>
    <div id ='container'><!-- body 시작-->
        <div style="
            max-width: 960px;
            margin: 0 auto;
            /* padding: 10%; */
            /* padding-top: 75px; */
            top: 100px;
            position: relative;
        ">
            <h3 style="text-align: center;
            font-weight: bold;"><%= title %></h3>

            <form action="/mongoup/write" method="post" name="upForm">

                <!--해당레시피 한글명을 통해 레시피를 조회하여 보여줌-->
                <table class="table table-bordered">
                    <tr>

                        <td scope="col" style="text-align: center;
                        font-weight: normal;
                        font-family: 'Nanum Barun Gothic';
                        background: #fbfbfb;
                        color: #222;border-right: dashed 1px #e5e5e5;"> <span class="vital" style="color: #ed1a3a; display: inline-block;">*</span> 요리명</td>
                        <td><%= main.Grid_20150827000000000226_1.row[0].RECIPE_NM_KO %></td>
                    </tr>
                    
                    <tr>
                        <td style="text-align: center;
                        font-weight: normal;
                        font-family: 'Nanum Barun Gothic';
                        background: #fbfbfb;
                        color: #222;border-right: dashed 1px #e5e5e5;"> <span class="vital" style="color: #ed1a3a; display: inline-block;">*</span> 설명</td>
                        <td><%= main.Grid_20150827000000000226_1.row[0].SUMRY %></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;
                        font-weight: normal;
                        font-family: 'Nanum Barun Gothic';
                        background: #fbfbfb;
                        color: #222;border-right: dashed 1px #e5e5e5;"> <span class="vital" style="color: #ed1a3a; display: inline-block;">*</span>재료</td>
                        <td>
                           <% for(var i=0 ; i<material.Grid_20150827000000000227_1.row.length ; i++){ %>
                                <%=material.Grid_20150827000000000227_1.row[i].IRDNT_NM %>
                                <%=material.Grid_20150827000000000227_1.row[i].IRDNT_CPCTY %>
                                <br>
                            <%  } %>
                        </td>
                    </tr>
                    
                    <tr>
                        <td style="text-align: center;
                        font-weight: normal;
                        font-family: 'Nanum Barun Gothic';
                        background: #fbfbfb;
                        color: #222;border-right: dashed 1px #e5e5e5;"> <span class="vital" style="color: #ed1a3a; display: inline-block;">*</span>내용</td>
                        <td>
                            <% for(var i=0 ; i<recipe.Grid_20150827000000000228_1.row.length ; i++){ %>
                                
                               <strong> <%=recipe.Grid_20150827000000000228_1.row[i].COOKING_NO%>.&nbsp;&nbsp;&nbsp;
                                <img src='<%=recipe.Grid_20150827000000000228_1.row[i].STRE_STEP_IMAGE_URL%>'/>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <%=recipe.Grid_20150827000000000228_1.row[i].COOKING_DC%></strong>
                                <br><br>


                            <%  } %>


                        </td>
                    </tr>

                </table>

            </form>

        </div>
    </div><!-- body 종료-->
</div>
<%- include('footer'); %>
</div>

</body>
</html>