<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('head'); %>

    <script>
        // JWCHEON: 랭킹 레시피를 선택했을 경우 선택한 레시피를 볼 수 있도록 새창으로 게시물을 볼 수 있또록 함
        function clickedCategory(contentsID) {
            // alert(contentsID);
            // location.href('/mongo/read/'+contentsID);
            window.open('/mongo/read/'+contentsID, '_blank');   // JWCHEON: '_blank'로 새창 띄움
        }
    </script>
</head>
<body>
<!-- JWCHEON: 랭킹 게시판 화면 구성 -->
<div class="wrap">
    <%- include('menu'); %>

    <!-- Portfolio Section -->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Portfolio Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0"><%=title%></h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Portfolio Grid Items -->
            <div class="row">
                <%
                // JWCHEON: router로 부터 받은 랭킹 게시글(추천 내림차순)으로 rows 데이터 가지고 화면 구성
                for(var i=0; i<(length) ; i++){
                    var data = rows[i];
                %>
                <!-- Portfolio Item 1 -->
                <div class="col-md-6 col-lg-4">
                    <h4><%=i+1%>위 <%=rows[i].title%></h4>
                    <!-- JWCHEON: onclick으로 레시피를 클릭했을 경우 해당 레시피로 이동할 수 있도록 function 실행 -->
                    <div class="portfolio-item mx-auto" onclick="clickedCategory('<%=rows[i]._id%>')">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="/<%=rows[i].mainImg%>" alt="">
                        <!-- /img/cake.png -->
                        <h6 align="right">추천 <%=rows[i].recommen%>개</h6>
                    </div>
                </div>
                <%}%>
            </div>
            <!-- /.row -->

        </div>
    </section>
</div>
<%- include('footer'); %>
</body>
</html>